@import 'bootstrap/scss/bootstrap';

#root {
  width: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  font-size: 100%;
} 

body {
  height: 100%;
}

// .container {
//   min-height: 100%;
// }



// .spinner-container {
//   min-height: 80vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .card-img-size {
//   height: 220px;
//   min-width: 100%;
//   object-fit: cover;
// }

// .spinner {
//   width: 5rem;
//   height: 5rem;
// }

// .breedCard {

//   &-img {
//     height: 100%; 
//     object-fit: contain;
//   }

//   &-cont {
//     max-width: 1120px;
//     margin: 0 auto;
//   }
// }

// .withoutBreedCard{

//   &-cont {
//     max-width: 1120px;
//     margin: 0 auto;
//     text-align: center;
//   }

//   &-img {
//     max-height: 750px;
//     object-fit: contain;
//   }
// }